# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [10]:
num_int = 684753278946

print(num_int)
print(type(num_int))

684753278946
<class 'int'>

##### Assinging float

In [14]:
# The decimal (.) is what tells python to make this a Float
num_float = 6.

print(num_float)
print(type(num_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [22]:
num1 = 2
num2 = 5
# int + int => int
# int + float => float
# float + float => float

result = num1 + num2

print(result)
print(type(result))

# Short-hand
result += 2 # result = result + 2
print(result)

7
<class 'int'>
9

##### Subtraction

In [24]:
result_diff = num2 - num1
print(result_diff)

# Short-hand
result_diff -= 2 # result_diff = result_diff - 2
print(result_diff)

3
1

##### Multiplication

In [26]:
result_prod = num1 * num2
print(result_prod)

# Short-hand
result_prod *= 2 # result_prod = result_prod * 2
print(result_prod)

10
20

##### Division

In [29]:
# division operator (/) always returns a float!
result_div = num2 / num1
print(result_div)
print(10/2)

# Short-hand
result_div /= 2 # result_div = result_div / 2
print(result_div)

2.5
5.0
1.25

##### Floor Division

In [33]:
# Sometimes also referred to as Integer Division
result_floor = num2 // num1
print(result_floor)
print(type(result_floor))


# Short-hand
result_floor //= 2 # result_floor = result_floor // 2
print(result_floor)

2
<class 'int'>
1

##### Modulo

In [35]:
# Returns the remainder of the division expression
result_mod = num2 % num1
print(result_mod)

# Short-hand
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

1
1

##### Exponential

In [39]:
square = num2 ** num1
print(square)

# Short-hand
square **= 2 # square = square ** 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [40]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [41]:
name2 = 'Stanton'
print(name2)
print(type(name2))

Stanton
<class 'str'>

In [44]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [45]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: invalid syntax (<ipython-input-45-e50b30aa9072>, line 1)

In [46]:
quote1 = 'He said, "Hello, how are you?"'
print(quote1)

He said, "Hello, how are you?"

##### Escape Characters

In [50]:
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [51]:
print('Hello
      My name is Brian')

SyntaxError: EOL while scanning string literal (<ipython-input-51-f69486f83977>, line 1)

In [53]:
print('Hello\
 My name is Brian')

Hello My name is Brian

In [54]:
# \n - newline character
print("Hello\nhow are you?")

Hello
how are you?

In [55]:
# \t - tab character
print('Hello\thow are you?')

Hello	how are you?

In [57]:
# Raw String
print(r"Hello\n\thow are you?")

Hello\n\thow are you?

In [60]:
print(r'cat\b')

cat\b

##### String Concatenation

In [48]:
"Hello" + 'World'

'HelloWorld'

In [62]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + " " + last_name
print(full_name)

# Short-hand
full_name += ", Jr." # full_name = full_name + ", Jr."
print(full_name)

John Smith
John Smith, Jr.

In [63]:
num_a = 10
num_b = "10"

print(num_a + num_b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [64]:
print(num_b + num_a)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [67]:
# built-in type conversions are names of the data type e.g. str, int, float, etc

print(type(num_b))

num_b_int = int(num_b)

print(num_b_int)
print(type(num_b_int))


print(num_a + num_b_int)

<class 'str'>
10
<class 'int'>
20

In [69]:
print(type(num_a))

num_a_str = str(num_a)

print(num_a_str)
print(type(num_a_str))


print(num_b + num_a_str)

<class 'int'>
10
<class 'str'>
1010

In [72]:
some_num = int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

##### .format() and f-strings

In [79]:
name = "Brian"
home = "Chicago"
age = 243

print("Hello my name is {} and I am {} years old and I am from {}.".format(name, age, home))
print(f"Hello my name is {name} and I am {age} years old I am from {home}")

Hello my name is Brian and I am 243 years old and I am from Chicago.
Hello my name is {name} and I am {age} years old I am from {home}

##### Old Way (python 2)

In [80]:
print("Hello my name is %s and I am from %s" % (name, home))

Hello my name is Brian and I am from Chicago

In [81]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [83]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year = int(year) + 1

print(f"I drive a {color} {year} {make} {model}")

I drive a blue 2023 Ford Focus

In [87]:
# Python strings are indexable
my_string = 'Hello World'

print(my_string)
print(my_string[2])

Hello World
l

In [88]:
# Python Strings are immutable

my_string[1] = 'a'
print(my_string)

TypeError: 'str' object does not support item assignment

### Booleans

In [89]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [90]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [91]:
# if <expression>:
#     <statement>

if True:
    print('Hello this is true')

Hello this is true

In [92]:
if False:
    print('Hello this is false')

In [97]:
print("start code")

if False:
    print('Hello')
    print('How are you?')
    print('Well, you?')
    
print('end code')

start code
end code

In [103]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num1 == num2 * num3)
print(num1 != num3)

True
True
True

In [108]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * num3:
    print('num1 is equal to the product of num2 and num3')

num1 is greater than num2
num1 is equal to the product of num2 and num3

## Using 'and'/'or' with If Statements

In [110]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

potential_candidate_gpa = 3.1
potential_candidate_act = 27


if potential_candidate_gpa > 2.5 and potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject student')

Pass student along

In [113]:
potential_candidate_gpa = 2.1
potential_candidate_act = 26

if potential_candidate_gpa > 2.5 or potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject student')

Pass student along

### Else Statements

In [115]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 68

if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride this ride.')

Enjoy the ride!

### Elif Statements

In [127]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 14

movie_goer_age = 6

if movie_goer_age >= required_age:
    print('Thanks, enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film.')
elif movie_goer_age <= 5:
    print('Where are your parents?')
else:
    print('You are not old enough to see this film.')

You are not old enough to see this film.

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (0-9) are half off. Print out the ticket price at the end</p>

In [138]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

if person_age < 10:
    ticket = ticket * .5
elif person_age >= 65:
    ticket = ticket * .75
else:
    ticket = ticket * 1

print(f"Your ticket is ${ticket:.2f}")

Your ticket is $5.00

### Lists

##### Declaring Lists

In [155]:
l_1 = [] # Empty List Declaration

print(l_1)
print(type(l_1))

names = ['Max', 'Cindy', 'Frank', 'Jim', 'Alison']
print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Frank', 'Jim', 'Alison']
<class 'list'>

##### Indexing a List

In [156]:
# list[start: stop: step] *start is inclusive, stop is exclusive
# 0-based index

# Single Index
print(names[2])


# Slice the list at index 1 and go to the end 
print(names[1:])

# Slice from the beginning of the list and go to index 3
print(names[:3])

# Slice the whole list -> makes a copy
print(names[:])


# Slice every other index
print(names[::2])

# Slice the list in reverse order
print(names[::-1])

# Some combination of them all
print(names[1:4:2])

Frank
['Cindy', 'Frank', 'Jim', 'Alison']
['Max', 'Cindy', 'Frank']
['Max', 'Cindy', 'Frank', 'Jim', 'Alison']
['Max', 'Frank', 'Alison']
['Alison', 'Jim', 'Frank', 'Cindy', 'Max']
['Cindy', 'Jim']

##### .append()

In [158]:
# list.append(value_to_append) - add the value to the END of the list
print(names)

names.append('Brian')
print(names)

['Max', 'Cindy', 'Frank', 'Jim', 'Alison']
['Max', 'Cindy', 'Frank', 'Jim', 'Alison', 'Brian']

##### .insert()

In [159]:
# list.insert(index,value) - add the value to the list at index and push everything else back one

print(names)
names.insert(3, 'Tatyana')

print(names)

['Max', 'Cindy', 'Frank', 'Jim', 'Alison', 'Brian']
['Max', 'Cindy', 'Frank', 'Tatyana', 'Jim', 'Alison', 'Brian']

In [160]:
x = names.insert(1, 'Michael')
print(names)
print(x)

['Max', 'Michael', 'Cindy', 'Frank', 'Tatyana', 'Jim', 'Alison', 'Brian']
None

##### .pop()

In [161]:
# list.pop(index) - removes element at index position
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

removed_name = names.pop()

print(names)
print(removed_name)

['Max', 'Michael', 'Cindy', 'Frank', 'Tatyana', 'Jim', 'Alison']
Brian

In [162]:
another_name = names.pop(2)

print(names)
print(another_name)

['Max', 'Michael', 'Frank', 'Tatyana', 'Jim', 'Alison']
Cindy

In [174]:
names.append('Frank')

In [175]:
print(names)

['Max', 'Michael', 'Frank', 'Tatyana', 'Jim', 'Alison', 'Frank', 'Frank', 'Frank', 'Frank', 'Frank']

##### .index()

In [176]:
# list.index(value) - returns the index of the FIRST item to match the value

print(names.index('Frank'))

2

##### .count()

In [177]:
# list.count(value) - returns the number of times the value is in the list

print(names.count('Frank'))

6


##### .remove()

In [178]:
# list.remove(value) - value to be removed , not index, will remove first instance of the item

print(names)
names.remove('Frank')
print(names)

['Max', 'Michael', 'Frank', 'Tatyana', 'Jim', 'Alison', 'Frank', 'Frank', 'Frank', 'Frank', 'Frank']
['Max', 'Michael', 'Tatyana', 'Jim', 'Alison', 'Frank', 'Frank', 'Frank', 'Frank', 'Frank']

##### del()

In [180]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del names[9]

print(names)

IndexError: list assignment index out of range

##### .clear()

In [181]:
# removes all of the items from a list

print(names)

names.clear()

print(names)

['Max', 'Michael', 'Tatyana', 'Jim', 'Alison', 'Frank', 'Frank', 'Frank', 'Frank']
[]

##### Concatenating Two Lists

In [182]:
# will append two lists together, not add up the elements in each list

list_a = [0,1,2]
list_b = [3,4,5]

list_c = list_a + list_b

print(list_c)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [194]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

lots_of_elements = [100, 1.23, 'Hello', True, print]

print(lots_of_elements)

[100, 1.23, 'Hello', True, <built-in function print>]

In [192]:
names2 = ['Mary', 'Molly', 'Jack', ['Jill', 'Dave']]

print(names2)

print(names2[3][1])

['Mary', 'Molly', 'Jack', ['Jill', 'Dave']]
Dave

### For Loops

In [195]:
# for <keyword> in <iterable>:
#     <statement>

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)

5
10
15
20
25
30
35
40

In [205]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for c in colors:
    print(f"My favorite color is {c}")
    print('Hello') # since this indented, it is run each loop

My favorite color is red
Hello
My favorite color is orange
Hello
My favorite color is yellow
Hello
My favorite color is green
Hello
My favorite color is blue
Hello
My favorite color is indigo
Hello
My favorite color is violet
Hello

In [206]:
for c in colors:
    print(f"My favorite color is {c}")
print('Hello') # no indent and lined up with the for, it will run after the loop is done

My favorite color is red
My favorite color is orange
My favorite color is yellow
My favorite color is green
My favorite color is blue
My favorite color is indigo
My favorite color is violet
Hello

##### Continue Statement

In [ ]:
# will continue to next iteration

In [212]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i >= 5 and i <= 7:
        continue # continue says skip the rest of the loop code and start the next iteration
    print(i)
    print('Hello' + str(i))

1
Hello1
2
Hello2
3
Hello3
4
Hello4
8
Hello8
9
Hello9
10
Hello10

##### Break Statement

In [ ]:
# will break out of current loop

In [213]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i == 5:
        break # break says skip the rest of the loop and go to the next part of the code
    print(i)
print('Next part of code')

1
2
3
4
Next part of code

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [215]:
for c in colors:
    if c == 'red':
        # TODO: Display a red background
        pass
    else:
        print('Your color is not red!')

Your color is not red!
Your color is not red!
Your color is not red!
Your color is not red!
Your color is not red!
Your color is not red!

In [218]:
def some_func(x):
    pass

some_func(10)

##### Nested/Double For Loops

In [225]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

total_steps = 0
for x in nums:
    for y in nums:
        print(f"x={x}, y={y}")
        total_steps += 1

print(total_steps)

x=1, y=1
x=1, y=2
x=1, y=3
x=1, y=4
x=1, y=5
x=1, y=6
x=1, y=7
x=1, y=8
x=1, y=9
x=1, y=10
x=2, y=1
x=2, y=2
x=2, y=3
x=2, y=4
x=2, y=5
x=2, y=6
x=2, y=7
x=2, y=8
x=2, y=9
x=2, y=10
x=3, y=1
x=3, y=2
x=3, y=3
x=3, y=4
x=3, y=5
x=3, y=6
x=3, y=7
x=3, y=8
x=3, y=9
x=3, y=10
x=4, y=1
x=4, y=2
x=4, y=3
x=4, y=4
x=4, y=5
x=4, y=6
x=4, y=7
x=4, y=8
x=4, y=9
x=4, y=10
x=5, y=1
x=5, y=2
x=5, y=3
x=5, y=4
x=5, y=5
x=5, y=6
x=5, y=7
x=5, y=8
x=5, y=9
x=5, y=10
x=6, y=1
x=6, y=2
x=6, y=3
x=6, y=4
x=6, y=5
x=6, y=6
x=6, y=7
x=6, y=8
x=6, y=9
x=6, y=10
x=7, y=1
x=7, y=2
x=7, y=3
x=7, y=4
x=7, y=5
x=7, y=6
x=7, y=7
x=7, y=8
x=7, y=9
x=7, y=10
x=8, y=1
x=8, y=2
x=8, y=3
x=8, y=4
x=8, y=5
x=8, y=6
x=8, y=7
x=8, y=8
x=8, y=9
x=8, y=10
x=9, y=1
x=9, y=2
x=9, y=3
x=9, y=4
x=9, y=5
x=9, y=6
x=9, y=7
x=9, y=8
x=9, y=9
x=9, y=10
x=10, y=1
x=10, y=2
x=10, y=3
x=10, y=4
x=10, y=5
x=10, y=6
x=10, y=7
x=10, y=8
x=10, y=9
x=10, y=10
100

### While Loops

In [226]:
# while <conditional>:
#     <statement to run while condition is true>

my_super_cool_num = 0

while my_super_cool_num < 20:
    print(my_super_cool_num)
    my_super_cool_num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [227]:
new_num = 0

while new_num < 10:
    if new_num == 3:
        break
    print(new_num)
    new_num += 1

0
1
2

In [229]:
num = 1

while num < 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [230]:
while True:
    keep_playing = input('Would you like to keep playing this game? y/n ').lower()
    if keep_playing == 'n':
        break
    else:
        print("Let's start again!")

Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n n

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
# 0
# 1
# 8
# 27
# 64
# 125
# 216
# 343
# 512
# 729
# 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [234]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# if 10 < 1:
#     print('Hello')
# else:
#     print('Goodbye')

    
for i in [1, 2, 3, 4, 5]:
    if i == 2:
        print('Hello')
        break
else:
    print('Goodbye')

Hello

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>